.htaccess.sample
.modgit/
.modman/
.capistrano/
*.log
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
/get.php
includes/
index.php.sample
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/customer/
media/catalog/
media/dhl/
media/downloadable/
media/.htaccess
media/import/
media/xmlconnect/
media/catalog/product/cache/
media/catalog/product/placeholder/default/
media/tmp/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
var/
access.log
error.log
skin/frontend/ah/default/scss/.sass-cache/
skin/frontend/ah/miracle/scss/.sass-cache/
.sass-cache